extends layout
include mixins

block content
  if images
    .navbar: a(href=`/clustered-faces/${video}`) Back to face selection
    fieldset#face-display
      legend(style="font-size: 20px") Clustered faces for #{ face }:
      each image in images
        img(src=`/faceClusters/${video}/${face}/${image}`, alt=image)
  else
    .navbar: a(href="/") Back to file selection
    legend(style="font-size: 20px")
    | Select which cluster for #{ video } you'd like to view:
    fieldset#face-selection
      - faces.sort((a, b) => {
      - const numA = parseInt(a.match(/-?\d+/));
      - const numB = parseInt(b.match(/-?\d+/));
      - return numA - numB;
      - })
      each face in faces
        +urlRadio("face-selection", face, `/clustered-faces/${video}/${face}`)
