extends layout

block content
  if images
    .navbar: a(href=`/clustered-faces/${video}`) Back to face selection
    fieldset#face-display
      legend(style="font-size: 20px") Clustered faces for #{ face }:
      each image in images
        img(src=`/faceClusters/${video}/${face}/${image}`, alt=image)
  else
    .navbar: a(href="/") Back to file selection
    legend(style="font-size: 20px")
    | Select which cluster for #{ video } you'd like to view:
    fieldset#face-selection
      each face in faces
        label
          input(
            type="radio",
            name="face-selection",
            value=face,
            autocomplete="off",
            onclick=`
              window.location.assign("/clustered-faces/${video}/${face}");
              this.checked = false; // otherwise it stays checked when you go back
            `
          )
          | #{ face }
