doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Speechviz
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    .navbar
      a(href="/") Back to file selection
      p#file #{ file } - Saved
      a#user(href="/settings") #{ user }
    .row.split
      #column.column
        ul#tree(style="padding-left: 0px")
      #column2.column2
        #waveform-container
          if (isFolder && !isVideo)
            #zoomview-container
            #overview-container
            audio#media(controls="controls")
              source(src=`audio/${folder}/${file}`, type=mimetype)
              | This is a folder, no audio is shown yet
          else if (isVideo && isFolder)
            #visual(style="overflow: hidden")
              video#media(style="object-fit: cover", controls="controls")
                source(src=`video/${folder}/${file}`, type=mimetype)
                | Your browser does not support the video element.
            #poses(style="display: none")
            div
              #zoomview-container
              #overview-container
          else if isVideo
            #visual(style="overflow: hidden")
              video#media(style="object-fit: cover", controls="controls")
                source(src=`video/${file}`, type=mimetype)
                | Your browser does not support the video element.
            #poses(style="display: none")
            div
              #zoomview-container
              #overview-container
          else
            #zoomview-container
            #overview-container
            audio#media(controls="controls")
              source(src=`audio/${file}`, type=mimetype)
              | Your browser does not support the audio element.
          #media-controls
            .row
              #column3.column3
                #controls
                  datalist#volume-ticks
                    option(value="50")
                    option(value="100")
                    option(value="150")
                  .dropdown
                    button#speed-button Speed
                    #speed-dropdown.dropdown-content.speed-content
                      button.spdbtn 0.25x
                      br
                      button.spdbtn 0.5x
                      br
                      button.spdbtn 0.75x
                      br
                      button.spdbtn 1x
                      br
                      button.spdbtn 1.25x
                      br
                      button.spdbtn 1.5x
                      br
                      button.spdbtn 1.75x
                      br
                      button.spdbtn 2x
                      br
                  a#zoomin.icon.button-off(
                    href="javascript:;",
                    title="Zoom in"
                  )
                  a#zoomout.icon.button-on(
                    href="javascript:;",
                    title="Zoom out"
                  )
                  a#undo.icon.button-on(
                    href="javascript:;",
                    title="Undo",
                    style="padding-left: 20px"
                  )
                  a#redo.icon.button-on(href="javascript:;", title="Redo")
                  a#save.icon.button-on(
                    href="javascript:;",
                    title="Save",
                    style="padding-left: 20px"
                  )
                  a#settings.icon.button-on(
                    href="javascript:;",
                    title="Settings",
                    style="padding-left: 20px"
                  )
                  br
                  button#filters filters
                  div
                    button#add-segment Add Segment
                  div
                    input#add-label-input(type="text", placeholder="label")
                    button#add-label-button Add Label
              #column4.column4
                textarea#notes(
                  rows="15",
                  cols="45",
                  placeholder="This is for any notes you wish to jot down"
                )
    #checkbox-contextmenu.contextmenu
      #collapse.item Collapse/expand without toggling
      #invert.item Invert children's toggle
      #unselect.item Unselect everything else
    #peakssegment-contextmenu.contextmenu
      #show-in-tree.item Show in tree
      #split-segment.item.editonly Split segment
      #merge-segments.item.editonly Merge segments

    script(type="application/javascript", src="js/init.js")
